
body{
    margin: 0px;
}
.topnav{
   background-color: #008348;
   height: 90px;
}
.topnav-left{
    float: left;
    margin-left: 200px;
    margin-top: 10px;  
    margin-bottom: 10px;  
}
#logo{
    height: 70px;
}
.topnav-right{
    float: right;
    margin-right: 200px;
}
.menu li{
  display: inline-block;
}

.menu li a{
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left:  15px;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    position: relative;
    font-family: sans-serif;
    text-decoration: none;
    line-height: 60px; 
}
.menu a:hover {
    background-color: white;
    color: #008348;
}



